@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --shadow-dark: 0px 0px 21px -10px black;
  --shadow-light: 0px 0px 21px 10px rgba(0,0,0,0.1);
} 


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: yekan;
  background-color: #171717;
  color: white;
}


/*? Custom Variant */

@custom-variant child {
  & > * {
    @slot
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
