@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Yekan;
  background-color: #171717;
  color: white;
}

@font-face {
  font-family: Yekan;
  src: url("./font/yekan-regular.woff") format("woff");
}


/*? Custom Variant */

@custom-variant child {
  & > * {
    @slot
  }
}

/*? ---------------- */
