@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --shadow-dark: 0px 0px 21px -6px black;
  --shadow-light: 0px 0px 21px 6px rgba(0,0,0,0.1);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Yekan;
  background-color: #171717;
  color: white;
}

@font-face {
  font-family: Yekan;
  src: url("./font/yekan-regular.woff") format("woff");
}


/*? Custom Variant */

@custom-variant child {
  & > * {
    @slot
  }
}

/*? ---------------- */
